.junbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
}
}
.card-hotel{
    flex: 1 300px  ; 
    padding: 2px 5px 2px 5px  ;
}

.btn-reserva{
    width: 100%;
}